[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-binance = "*"
pymongo = "*"
dnspython = "*"
python-telegram-bot = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.9"
